* {
  margin: 0;
  padding: 0;
}

/* google font  */
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap");

.noto-serif {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}
.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
/* common style  */
body {
  width: 1050px;
  margin: 0 auto;
}

.primary-color {
  color: #e95a08;
}

.section-description {
  font-size: 18px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.5);
  margin: 10px 0;
}

/* nav section  */
nav {
  width: 100%;
  height: 60px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-top: 20px;
}
.nav-logo img {
  width: 100px;
}
nav ul li {
  display: inline;
  margin: 10px;
  color: #8987a1;
}
.nav-link {
  display: flex;
}
.Cart {
  margin-left: 30px;
}

/* banner-container  */
.banner-container {
  width: 100%;
  height: 450px;

  display: flex;
  align-items: end;

  margin-top: 67px;
}
.banner-text h1 {
  font-size: 60px;
  font-weight: 700;
}

/* Plants section  */
.plants-container {
  margin-top: 150px;
}
.plants-text {
  width: 72%;
  margin: 0 auto;
  text-align: center;
}
.plants-text h2 {
  font-size: 45px;
  font-weight: 700;
}
.plants-cart-container {
  margin-top: 50px;

  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
}
.plants-cart {
  text-align: center;
}
.plants-cart img {
  width: 100%;
}
.plants-cart h4 {
  font-size: 20px;
  font-weight: 500;
  margin-top: 10px;
}
.plants-cart h5 {
  font-size: 18px;
  font-weight: 700;
  margin: 10px 0;
}
button {
  width: 100%;
  color: #ffffff;
  background-color: #e95a08;
  font-size: 14px;
  font-weight: 500;
  padding: 10px 0;
  border: none;
}

/* Flower & Plants Lover section  */
.flower-lover-container {
  width: 100%;
  height: 500px;

  display: flex;

  margin-top: 180px;
  position: relative;
}
.flower-lover-img {
  width: 50%;
}
.flower-lover-img img {
  width: 100%;
  height: 500px;
}
.flower-lover-text {
  width: 50%;
  padding: 38px 0px 38px 60px;
}
.flower-lover-text h2 {
  font-size: 52px;
  font-weight: 700;
}
.flower-lover-text ul {
  padding-left: 30px;
}
.flower-lover-text li {
  font-size: 22px;
  font-weight: 500;
  margin: 25px 0;
}
.Floating-logo{
    position: absolute;
    width: 250px;
    height: 250px;
    left: 330px;
    top: -110px;
}

@media screen and (max-width: 576px) {
  body {
    width: 100%;
  }
  .section-description {
    font-size: 16px;
    font-weight: 400;
  }
  /* nav section  */
  nav {
    width: 95%;
    margin: 0 auto;
    margin-top: 20px;
  }
  nav ul {
    display: none;
  }

  /* banner section  */
  .banner-container {
    width: 100%;
    flex-direction: column-reverse;
    margin-top: 200px;
  }
  .banner-text {
    padding: 0 10px;
    margin-top: 30px;
  }
  .banner-text h1 {
    font-size: 26px;
  }
  .banner-img img {
    width: 100%;
  }

  /* plants  */
  .plants-text {
    width: 90%;
  }
  .plants-cart-container {
    width: calc(100% - 20px);
    margin: 0 auto;
    grid-template-columns: repeat(2, 1fr);
  }
  .plants-text {
    margin-bottom: 50px;
  }

  /* flower-lover-section  */
  .flower-lover-container {
    flex-direction: column;
    margin-top: 40px;
  }
  .flower-lover-img {
    width: 90%;
    margin: 0 auto;
  }
  .flower-lover-img img {
    width: 100%;
    height: 500px;
  }
  .flower-lover-text {
    width: 90%;
    margin: 0 auto;
    margin-top: 15px;
    padding: 0px;
  }
  .flower-lover-text h2 {
    font-size: 25px;
    font-weight: 600;
  }
  .flower-lover-text ul {
    padding-left: none;
  }
  .flower-lover-text li {
    font-size: 18px;
    font-weight: 500;
    margin: 25px 0;
  }
  .Floating-logo{
    display: none;
  }
}
